<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permiso para usar el internet del celular -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- visibilidad de paquetes para asegurarnos que siempre el sistema
    nos provea accesibilidad para abrir las apps, ya el sistema podría mentir y
     decir que no está instalada aunque sí lo esté, por privacidad.

     OJO:
     se debe agregar manualmente el packageName por cada app referenciada en nuestro codigo.
     -->
    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.twitter.android" />
        <package android:name="com.linkedin.android" />

        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaludosDiarios"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.ImageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--especificamos formalmente que el archivo provider_paths-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>


</manifest>